{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}wildbills{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/wildbills_project.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to wildbills_project.css -->
    {% block extra_css %}{% endblock extra_css %}
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Wild Bills</a>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li class="active"><a href="/">{% trans 'Home' %}</a></li>

                <li><a href="#about">{% trans 'About' %} </a></li>
                <li><a href="#contact">{% trans 'Contact Us' %} </a></li>
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{% trans 'Debts' %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'bills:debt-list' %}">{% trans 'Debt List' %}</a></li>
                            <li><a href="{% url 'bills:bill-list' %}">{% trans 'Due Payments' %}</a></li>
                            <li><a href="{% url 'bills:bill-list-paid' %}">{% trans 'Payments Made' %}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'bills:debt-create' %}">{% trans 'Add Debt' %}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'logout' %}?next=/">{% trans 'Logout' %} </a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'account_login' %}?next=/">{% trans 'Login' %}</a></li>
                    <li><a href="{% url 'account_signup' %}?next=/">{% trans 'Login' %}</a></li>
                {% endif %}
                <li>
                    <form action="{% url 'set_language' %}" method="post" class="navbar-form navbar-right">
                        {% csrf_token %}
                        <div class="form-group-inline">
                            <input name="next" type="hidden" value="{{ no_lang_path }}"/>
                            <select name="language" class="form-control">
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                            selected="selected"{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                            <input type="submit" class="btn btn-primary" value="{% trans "Go" %}"/>
                        </div>
                    </form>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <h1>{% block page_title %}Wild Bills{% endblock page_title %}</h1>

    {% block content %}
        <div class="jumbotron">
            <p>
                {% blocktrans %}
                    Your bill helper app coming soon!!
                {% endblocktrans %}
            </p>
            {% if not user.is_authenticated %}
                <p>
                    <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg"
                       role="button" id="signup-btn">{% trans "Sign up" %}</a>
                </p>
            {% endif %}
        </div>
        <div class="version">{% trans "Version " %} 0.0.0</div>
    {% endblock content %}

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/datepicker-es.js' %}"></script>

<!-- place project specific Javascript in this file -->
<script src="{% static 'js/wildbills_project.js' %}"></script>

{% block extra_js %}
    <script>
        var version = '1.0.0'
         $('div.version').text('Version ' + version)
</script>
{% endblock extra_js %}
</body>
</html>
